header {
    background-color: #333;
    padding: 15x 100px;
}
.container{
    margin:0 auto;
    max-width:980px;
    width:100%;
}
header .container {
    display:flex;
    justify-content: space-between;
}

header .container nav {
    display: flex;
    justify-content: space-between;
}
header .container nav a {
    color:#fafafa;
    text-decoration: none;
    font-size: 1.2em ;
    padding:0 15px;
    align-self: center;
    display: block;

}
main  .container {

    background: url(img/bg-intro.jpg);
    padding: 93px 182px;
    justify-content: center;
    flex-direction: column
}
main .container h1{
    color: #fafafa;
    justify-content: center;
    text-align: center;
    font-size: 3em;
}
main .container p{
    color: #fafafa;
    justify-content: center;
    text-align: center;
    font-size:18px ;
}
section .container p{
    size: 30px;
    text-align: center;
    justify-content: center;
}